Flask==3.1.2
gunicorn
requests
python-telegram-bot==13.15
SQLAlchemy==2.0.43
requests
gunicorn
Flask==3.1.2
SQLAlchemy==2.0.43
python-telegram-bot==22.3
Telethon==1.40.0
anyio==4.10.0
blinker==1.9.0
certifi==2025.8.3
click==8.2.1
colorama==0.4.6
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pyaes==1.6.1
pyasn1==0.6.1
rsa==4.9.1
sniffio==1.3.1
typing_extensions==4.15.0
Werkzeug==3.1.3


